<div id="app">
  <navbar></navbar>
  <%# <div class="container"></div>
  <div class="footer"></div> %>
</div>

<div id="container">
  <navbar></navbar>
</div>

<div id="footer">
  <navbar></navbar>
</div>

<%= javascript_pack_tag 'todo' %>